:root {
    --width: 1920px;
}

* {
    margin: 0;
    /* border: 0; */
    overflow: hidden;
    letter-spacing: 2px;

    font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS UI Gothic", Helvetica, Arial, sans-serif;
}

.head {
    width: var(--width);
    height: 80px;
    background-color: rgb(0, 100, 200);
    color: aliceblue;
}

.hleft {
    float: left;
    width: 50%;
    height: 80px;
}

.hright {
    float: right;
    width: 30%;
    height: 80px;

}

.hright button {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 90px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    cursor:pointer;
}

.hright_l {
    float: left;
    line-height: 40px;
    height: 80px;
}

/* topnav */
.topnav {
    width: var(--width);
    line-height: 35px;
    height: 35px;
    background: rgb(255, 255, 100);
}

.topnav p {
    text-indent: 2.5em;

}

/* ----------------------------------------------------------------------content---------------------------------------------------------------------- */
.content {
    width: var(--width);
    height: 100%;
    overflow: hidden;
    background-color: rgb(240, 255, 255);
}

/* -----------------------------------btn----------------------------------- */
.c_btn{
    width: 95%;
    margin: auto;
}
.table_btn{
    width: 100%;
    height: 50px;
    border-collapse: collapse;
    margin-top: 10px;
}

.table_btn td button{
    float: right;
    width: 170px;
    height: 40px;
    background: rgb(230, 230, 230);
    font-size: 16px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 2px 2px 2px #888888;
    cursor:pointer;
}
/* -----------------------------------condition----------------------------------- */
.c_condition{
    width: 95%;
    margin: auto;
    border-bottom: 1px solid black;
}

/* -----------------------------------detail----------------------------------- */
/* -----------------------------------detail(メニュー)----------------------------------- */
.c_detail{
    width: 95%;
    height: 700px;
    margin: auto;
    overflow: auto;

}
.table_detail {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 12px;

}
.table_detail .header{
    height: 40px;
    background-color: rgb(140, 240, 255);
}
.table_detail .header2{
    height: 40px;
    background-color: rgb(140, 240, 255);
}
.table_detail tr{
    height: 30px;
}

.table_detail td{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
}
.table_detail th {
    border: 1px solid black;
}

/* -----------------------------------detail(スクロールテーブルHeader)----------------------------------- */
.c_detail_header {
    width: 95%;
    /* height: 680px; */
    margin: auto;
    overflow: auto;
}
.table_detail_header {
    /* width: 100%; */
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 12px;

}
.table_detail_header .header{
    height: 40px;
    background-color: rgb(140, 240, 255);
}
.table_detail_header .header2{
    height: 40px;
    background-color: rgb(140, 240, 255);
}
.table_detail_header th{
    border: 1px solid black;
}

.table_detail_header .l5{
    margin-left: 5px;
}
/* -----------------------------------detail(スクロールテーブルContent)----------------------------------- */
.c_detail_content{
    width: 95%;
    height: 600px;
    margin: auto;
    overflow: auto;

}
.table_detail_content { 
    border-collapse: collapse; 
    font-size: 12px; 
}

.table_detail_content tr{
    height: 32px;
}

.table_detail_content td{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
}
.table_detail_content .c{
    text-align: center;
}
.table_detail_content .l{
    text-align: left;
    /* padding-left: 5px; */
}
.table_detail_content .l5{
    margin-left: 5px;
}
.table_detail_content .r{
    text-align: right;
    /* padding-right: 5px; */
}
.table_detail_content .r5{
    margin-right: 5px;
}
.table_detail_content tr:last-child{
    border-bottom: 1px solid black;
}

.table_detail_content button {

    background: rgb(230, 230, 230);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 2px 2px 2px #888888;

    width: 50px;
    font-size: 14px;
    cursor:pointer;
}
/* --------table_detail_content2--------- */
.table_detail_content2 { 
    border-collapse: collapse; 
    font-size: 12px; 
}

.table_detail_content2 tr{
    height: 32px;
}

.table_detail_content2 td{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
}
.table_detail_content2 .c{
    text-align: center;
}
.table_detail_content2 .l{
    text-align: left;
    /* padding-left: 5px; */
}
.table_detail_content2 .l5{
    margin-left: 5px;
}
.table_detail_content2 .r{
    text-align: right;
    /* padding-right: 5px; */
}
.table_detail_content2 .r5{
    margin-right: 5px;
}
.table_detail_content2 tr:last-child{
    border-bottom: 1px solid black;
}

.table_detail_content2 button {

    background: rgb(230, 230, 230);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 2px 2px 2px #888888;

    width: 50px;
    font-size: 14px;
    cursor:pointer;
}
/* -----------------------------------詳細画面----------------------------------- */
.ui-widget-header {
    background-color: rgb(0, 100, 200);
    color: aliceblue;
}

.table_inputdialog{

    width: 100%;
}

.table_inputdialog tr{

    line-height: 40px;
}

.table_inputdialog input{
    height: 30px;
    background-color: lightcyan;
}
.table_inputdialog select{
    height: 30px;
    background-color: lightcyan;
}
.table_inputdialog textarea{
    background-color: lightcyan;
}
.table_inputdialog button{
    float: right;
    width: 80px;
    height: 40px;
    background: rgb(230, 230, 230);
    font-size: 16px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 2px 2px 2px #888888;
    cursor:pointer;
}

.table_inputdialog_btn {
    width: 100%;
    height: 80px;
}
.table_inputdialog_btn button{
    float: right;
    width: 170px;
    height: 40px;
    background: rgb(230, 230, 230);
    font-size: 16px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 2px 2px 2px #888888;
    cursor:pointer;
}

/* -----------------------------------common----------------------------------- */

.a{
    color: blue;
    text-decoration: underline;
    cursor:pointer;
}